* {
    margin: 5px;
    padding: 5px;
    text-align: center;
  
}
html, body {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 95%;
    width: 95%;
    display: block;
    background: linear-gradient(rgba(250, 204, 204, 0), #17b358);
}
header {
    color: black;
    text-shadow: 1px 1px 1px black;
}

footer {
    color: black;
    align-self: flex-end;
    position: fixed;
    padding: 30px;
    text-align: center;
    bottom: 0;
}
fieldset {
    color: black;
    height: 95%;
    width: 95%;
    display: inline-block;
    
}
button {
    font-size: 19px;
    padding: 20px;

}
.opera {
    font-size: 19px;
    padding: 0 14px 0 14px;
}
.rowna {
    font-size: 19px;
    padding: 0 14px 0 14px;
}